<!DOCTYPE html>
<html lang="es">
  
    <%-include("../partials/head", {title: "Login", css:"login.css"}) %>
    
  <body>

    <%-include("../partials/header") %>


    <main>
      <form action="#" method="post" class="form">
        <div class="form__title">
          <h3 class="title">Iniciar Sesión</h3>
        </div>
        <div class="form__container">
          <div class="form__container-control">
            <ul>
              <li><a class="link" href="#">Iniciar Sesión</a></li>
              <li>
                <a class="register" href="register">Registrarme</a>
              </li>
            </ul>
          </div>

          <div class="form__control">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" class="control" />
          </div>
          <div class="form__control">
            <label for="password">Contraseña</label>
            <input
              type="password"
              name="password"
              id="password"
              class="control"
            />
          </div>
          <div class="form__control-check">
            <label
              ><input
                type="checkbox"
                value="Si"
                name="recordame"
                id="recordame"
              />Recordame</label
            >

            <!-- <div class="form__control-p"> -->
            <p class="form__control-p">¿Olvidaste tu contraseña?</p>
          </div>
          <div class="boton-control">
            <button class="button-submit" type="submit" value="Iniciar Sesion">Iniciar Sesión</button>
          </div>
        </div>
      </form>
    </main>

    <%-include("../partials/footer") %>

  </body>
</html>
