<!DOCTYPE html>
<html lang="es">
  

  <%-include("../partials/head") %>
 
  <body>


    <%-include("../partials/header") %>


    <main>
      <form action="#" method="post" class="form">
        <div class="form__title">
          <h3 class="title">Registrarme</h3>
        </div>
        <div class="form__container">
          <div class="form__container-control">
            <ul>
              <li><a class="link" href="login">Iniciar Sesión</a></li>
              <li><a class="register" href="#">Registrarme</a></li>
            </ul>
          </div>

          <div class="form__control">
            <label for="text">Nombre</label>
            <input
              type="email"
              name="text"
              id="text"
              class="control"
              required
            />
          </div>

          <div class="form__control">
            <label for="text">Apellido</label>
            <input
              type="text"
              name="password"
              id="text"
              class="control"
              required
            />
          </div>

          <div class="form__control">
            <label for="date">Fecha de nacimiento</label>
            <input type="date" name="date" id="date" class="control" required />
          </div>

          <div class="form__control">
            <label for="email">Email</label>
            <input
              type="email"
              name="email"
              id="email"
              class="control"
              required
            />
          </div>

          <div class="form__control">
            <label for="password">Contraseña(minimo 8 caracteres)</label>
            <input
              type="password"
              name="password"
              id="password"
              class="control"
              required
            />
          </div>

          <div class="form__control">
            <label for="password">Repita contraseña</label>
            <input
              type="password"
              name="password"
              id="password"
              class="control"
              required
            />
          </div>

          <div class="form__control-check">
            <label
              ><input
                type="checkbox"
                value="Si"
                name="recordame"
                id="recordame"
              />Acepto terminos y condiciones</label
            >
          </div>
          <div class="boton-control">
            <button type="submit" value="Iniciar Sesion">
              Crear mi cuenta
            </button>
          </div>
        </div>
      </form>
    </main>


    <%-include("../partials/footer") %>

    
  </body>
</html>
