:root {
    --dark: #212121;
    --purple: #7900FF;
    --lightblue:#548cff;
    --white:#ffffff; 
  }

body{
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: 'Shrikhand', cursive;
}


/*******************************fondos************************************/
.bg-purple{
    background-color: var(--purple);
}
.bg-celeste{
    background-color: var(--lightblue);
}
/*******************************header************************************/


 .form-control{
    border-radius: 0px!important;
    border: none !important;
    border-top-left-radius: .25rem !important;
    border-bottom-left-radius: .25rem !important;
    outline: none;
 }

.fa-search{
padding: .375rem .75rem;
background-color: var(--white);
display: flex !important;
align-items: center;
border: none;
border-top-right-radius: .25rem;
border-bottom-right-radius: .25rem;
color: #495057;
cursor: pointer;
}


.far, .fas {
    font-size: 22px;
    color: var(--white);
   
}

nav img, footer img{
 width: 70px;
}

.nav-link{
    font-family: 'Anton', sans-serif;
}

.text-white{
    margin-bottom: 0px;
}

.nav-item{
padding: 0px 5px;
}

.navbar-light .navbar-nav .nav-link{
    text-transform:lowercase;
    font-family: 'Roboto', sans-serif;
    color: #fff;
 
}

.navbar-light .navbar-nav .nav-link:hover{
    
    color: rgba(255, 255, 255, 0.568);
}



.navbar-light .navbar-nav .nav-link::first-letter {
    text-transform: uppercase;
}
main{
    margin-bottom: 30px;
}

footer div.iconos i{
     font-size: 19px;
     padding: 0px 8px !important;
}

@media (max-width: 991px){
    .copyrigth{
        margin-top: 15px;
    }
    /* div.iconos i{
        padding: 0px 8px !important;
        
    } */
}