:root {
  --dark: #212121;
  --purple: #7900ff;
  --lightblue: #548cff;
  --white: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  
}

h1 {
  font-family: "Shrikhand", cursive;
}

/*******************************fondos************************************/
.bg-purple {
  /**Categoria de productos**/
  background-color: var(--purple);
  /* background-color: #6B3894; */
}
.bg-celeste {
  background-color: var(--lightblue);
}
/*******************************header************************************/

.collapse .form-control {
  border-radius: 0px !important;
  border: none !important;
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
  outline: none;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%) !important;
}





.fas.fa-user.me-3.icon-navBar,
.fas.fa-shopping-cart.icon-navBar,
.fa-cart-arrow-down:before
{
  font-size: 18px;
  /* color: var(--white); */
  color: #ffffff9c;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.title-icon{
  font-size: 18px;
  font-weight: normal;
  font-family:'Montserrat';
  margin-top: 8px;
}


.iconos.d-flex.justify-content-end.icon-align a{
  margin-left: 18px !important;
}


nav img,
footer img {
  width: 62px;
}




.text-white {
  margin-bottom: 0px;
  
}

.nav-item {
  padding: 0px 5px;
}

.navbar-light .navbar-nav .nav-link {
  text-transform: lowercase;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.568);
}

.navbar-light .navbar-nav .nav-link::first-letter {
  text-transform: uppercase;
}
main {
  margin-bottom: 30px;
  min-height:calc(100vh - 83.27px - 107.27px) ;
}

footer div.iconos i {
  font-size: 19px;
  padding: 0px 8px !important;
}


h1.text-white{
  display: none;
  font-weight: 400 !important;
  /* font-family: 'Montserrat'; */
  font-size: 32px;
}


.linkHome{
text-decoration: none;
}

.searchButton{
  padding: 0.375rem 0.75rem;
  background-color: var(--white);
  display: flex !important;
  align-items: center;
  border: none;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  color: #495057;
  cursor: pointer;
}





@media (min-width: 480px){
  h1.text-white{
    display: block !important;
  }
  
}


@media (max-width: 991px) {
  .copyrigth {
    margin-top: 15px;
  }
  
}
