<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carrito de Compras</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/productCart.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
   
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <!-- <a class="navbar-brand" href="#">Foxter</a> -->
            <div class="contenedor">
            <img src="/images/logo.png" alt="">
            <h1>Foxter</h1>
            </div>
  
            
  
           
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <div class="contenedor2">
              <form class="d-flex">
                <!-- <div class="d-flex__formulario"> -->
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <i class="fa fa-search"></i>
                <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
                <!-- </div> -->
              </form>
            </div>
              <div class="contenedor3">
              <div class="iconos">
                  <a href="#">
                      <i class="far fa-user"></i>
                    </a>
                    <a href="#">
                      <i class="fas fa-cart-arrow-down"></i>
                    </a>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </header>

    <main>
      <div class="main-cart">
        <div class="cart-title-conteiner">
          <h1 class="cart-title">Mi Carrito</h1>
        </div>
        <div class="cart-header">
          <a class="continue-shopping-link" href="/">Seguir comprando</a>
        </div>
      </div>
<!-- 
      <div class="container-cart">
        <div class="product-title">Zapatillas Nike Air Max Sc S50</div>
        <div class="remove-item"><i class="fa-solid fa-trash"></i></div>
      </div>  -->

      <div class="prueba2">
       <div class="card mb-8">
        <div class="cajas">
        <div class="row g-0 container-zapas">
          <div class="col-md-4 img-zapas">
            <img
              src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/a42a5d53-2f99-4e78-a081-9d07a2d0774a/air-force-1-07-zapatillas-pXTXQ8.png"
              class="img-fluid rounded-start"
              alt="Air Force 1"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Zapatillas Nike Air Force 1 asdasdasd efefefefefefefefhola</h5>
              <p class="card-text">
                Talle: 39
                <a class="edit-product-link" href="#">Editar Producto</a>
              </p>
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>

      <!-- <div class="container">
        <div class="row">
          <div class="col">
            <img  src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/a42a5d53-2f99-4e78-a081-9d07a2d0774a/air-force-1-07-zapatillas-pXTXQ8.png"
            class="img-fluid rounded-start"
            alt="Air Force 1">
           
          </div>
          <div class="col">
            <h5 class="card-title">Zapatillas Nike Air Force 1 asdasdasd efefefefefefefefhola</h5>
              <p class="card-text">
                Talle: 39
                <a class="edit-product-link" href="#">Editar Producto</a>
              </p>
              
          </div>
        </div> -->



      <!-- 
      <div class="container-cart">
        <div class="row">
          <div class="col">
            1 of 2

            <img
              src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/a42a5d53-2f99-4e78-a081-9d07a2d0774a/air-force-1-07-zapatillas-pXTXQ8.png"
              alt="zapas"
            />
          </div>

          <div class="col">2 of 2</div>
        </div>
        <div class="row">
          <div class="col">1 of 3</div>
          <div class="col">2 of 3</div>
          <div class="col">3 of 3</div>
        </div>
      </div> -->
    </main>
  </body>
</html>
