<!DOCTYPE html>
<html lang="es">

<%-include("../partials/head", {title: "Carrito" , css:"productCart.css"}) %>


  <body>

    <%-include("../partials/header") %>

      <main>

        <div class="container-title">
          <div class="titulo-carrito">
            <h1>Mi Carrito</h1>
          </div>
          <div class="seguir-comprando">
            <a class="link-seguir-comprando" href="/">Seguir Comprando </a>
          </div>
        </div>


        <div class="main-container" id="lista">
          
          

          <div class="container-articles" id="lista-productos">

           

          </div>




          <div class="container-resumen">
            <div class="titulo-envio">
              <h3>Calculá el costo de envío</h3>
            </div>

            <div class="container-envio">
              <form action="#" method="GET" class="calcular-envio">
                <input type="text" placeholder="Codigo Postal" class="input-calcular-envio">

                <button type="submit" class="btn-envio">Calcular</button>
              </form>
            </div>

            <div class="titulo-pedido">
              <h3>Resumen de pedido</h3>
            </div>

            <div class="container-pedido">
              <div class="subtotal" >
                <p>Subtotal</p>
                <p> $ <span id="subtotall"></span></p>
              </div>
              <div class="envio">
                <p>Envio desde</p>
                <p>$200</p>
              </div>
              <div class="total">
                <p>Total</p>
                <p> $ <span id="total"></span></p>

              </div>

              <button type="submit" class="btn-comprar">Comprar</button>
            </div>
          </div>
        </div>

      </main>

      <%-include("../partials/footer") %>
      <script src="/js/compra.js"></script>

  </body>

</html>